.container {
  max-width: 960px;
  min-width: 320px;
  margin: auto;
  background-color: #f3f7fa;
  padding: 20px;
  min-height: 100vh;

  img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  .app {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 992px) {
    .app {
      display: block;
      > div {
        margin: auto;
      }
    }
  }
  @media (max-width: 768px) {
    .app {
      width: 320px;
    }
    > div {
      margin: auto;
    }
  }
}
