.tab {
  width: 100%;

  > label {
    width: 50%;
    height: 50px;
  }
  > label span:last-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  > label:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  > label:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  @media (max-width: 992px) {
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    width: 320px;
    margin-top: 20px;
  }
}
