.filters {
  background-color: #ffffff;
  width: 232px;
  height: 252px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;

  label {
    display: block;
    margin-left: 0 !important;
  }
}
